<?xml version="1.0" encoding="UTF-8"?>

<config port="11000" responder_proxy_port="10000" publisher_proxy_port="10001" subscriber_proxy_port="10002" max_applications="20" log_directory="logs" log_level="fine" polling_time="100">

	<applications>
		<application name="responder" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="java" args="fr.ill.ics.cameo.examples.ResponderApp"/>
		</application>
		
		<application name="requester" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="java" args="fr.ill.ics.cameo.examples.RequesterApp"/>
		</application>
		
		<application name="publisher" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="java" args="fr.ill.ics.cameo.examples.PublisherApp"/>
		</application>
		
		<application name="subscriber" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="java" args="fr.ill.ics.cameo.examples.SubscriberApp"/>
		</application>
		
	</applications>
	
</config>
