<?xml version="1.0" encoding="UTF-8"?>

<config port="11000" responder_proxy_port="10000" subscriber_proxy_port="10001" publisher_proxy_port="10002" max_applications="20" log_directory="logs" log_level="fine" polling_time="100">

	<applications>
		
		<!-- C++ -->
		<application name="responder" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="responderapp"/>
		</application>
		
		<application name="requester" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="requesterapp"/>
		</application>
		
		<application name="publisher" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="publisherapp"/>
		</application>
		
		<application name="subscriber" starting_time="0" retries="0" stopping_time="1" output_stream="yes" multiple="no" restart="no">
			<start executable="subscriberapp"/>
		</application>
		
	</applications>
	
</config>
