<?xml version="1.0" encoding="UTF-8"?>

<config port="11000" proxy_ports="12000, 12001, 12002" max_applications="20" log_directory="logs" log_level="fine" polling_time="100">

	<applications>
		
		<!-- C++ -->
		<application name="responder-cpp" multiple="no">
			<start executable="responderapp"/>
		</application>
		
		<application name="requester-cpp" multiple="no">
			<start executable="requesterapp"/>
		</application>
		
		<application name="publisher-cpp" multiple="no">
			<start executable="publisherapp"/>
		</application>
		
		<application name="subscriber-cpp" multiple="no">
			<start executable="subscriberapp"/>
		</application>
		
		<!-- Java -->
		<application name="responder-java" multiple="no">
			<start executable="java" args="eu.ill.cameo.examples.ResponderApp"/>
		</application>
		
		<application name="requester-java" multiple="no">
			<start executable="java" args="eu.ill.cameo.examples.RequesterApp"/>
		</application>
		
		<application name="publisher-java" multiple="no">
			<start executable="java" args="eu.ill.cameo.examples.PublisherApp"/>
		</application>
		
		<application name="subscriber-java" multiple="no">
			<start executable="java" args="eu.ill.cameo.examples.SubscriberApp"/>
		</application>
		
		<!-- Python -->
		<application name="responder-python" multiple="no">
			<start executable="python" args="-u examples/python/src/responderapp.py"/>
		</application>
		
		<application name="requester-python" multiple="no">
			<start executable="python" args="-u examples/python/src/requesterapp.py"/>
		</application>
		
		<application name="publisher-python" multiple="no">
			<start executable="python" args="-u examples/python/src/publisherapp.py"/>
		</application>
		
		<application name="subscriber-python" multiple="no">
			<start executable="python" args="-u examples/python/src/subscriberapp.py"/>
		</application>
		
	</applications>
	
</config>
