/target/
/.settings/
/logs/
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/ltmain.sh
/Makefile.in
/missing
/autom4te.cache/
/build/
/cameo.log
/.pydevproject
